{% extends "base.html" %}
{% load humanlize %}
{% block title %}ASC App Team{% endblock %}
{% block css %}
<script type="text/javascript" src="/resource/js/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript">
	tinyMCE.init({
		mode : "textareas",
		theme : "simple",
	});
</script>
{% endblock %}
{% block content %}
<div class="entries">
	<ul>
	{%include "entry.html"%}
	</ul>
	<label><h2>大家在说些什么...</h2></label>
	<ul class="comments" id="comments">
		{%for entry in comments%}
			{%include "comment.html"%}
		{%endfor%}		
	</ul>
	<div class="comment-area" id="comment-form">	
		<div class="comment-tip"><label>想说两句？</label></div>	
		<form class="comment-form" action="/comment/{{entry.key}}/" method="post">
			<textarea id="textarea" rows="5" cols="60" name="what" ></textarea>
			<input type="submit" value="发布">
		</form>
	</div>
	<div class="none"></div>

</div>
{% endblock %}
